<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>
  
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(local); Integrated Security=False;Initial Catalog=HRMSDB; User ID='hrms';Password='aaa111'" />
        <add name="HRMSDBConnectionString" connectionString="Data Source=DESKTOP-PRHUBC6;Initial Catalog=HRMSDB;Persist Security Info=True;User ID=hrms;Password=aaa111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
</configuration>
